<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.onesignal.example">
	<uses-sdk android:minSdkVersion="15" />
		<permission android:name="com.onesignal.example.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
		<uses-permission android:name="com.onesignal.example.permission.C2D_MESSAGE" />
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
		<uses-permission android:name="android.permission.WAKE_LOCK" />
		<uses-permission android:name="android.permission.VIBRATE" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Example.Shared.Application">

		<receiver android:name="com.onesignal.GcmBroadcastReceiver"
		android:permission="com.google.android.c2dm.permission.SEND" >
		<intent-filter>
		<action android:name="com.google.android.c2dm.intent.RECEIVE" />
		<category android:name="com.onesignal.example" />
		</intent-filter>
		</receiver>
		<receiver android:name="com.onesignal.NotificationOpenedReceiver" />
		<service android:name="com.onesignal.GcmIntentService" />
		<service android:name="com.onesignal.SyncService" android:stopWithTask="false" />
		<activity android:name="com.onesignal.PermissionsActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
	</application>
</manifest>
